<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>word</key>
	<array>
		<array>
			<string>צלעות</string>
		</array>
		<array>
			<string>רגליימ</string>
		</array>
		<array>
			<string>שפתיימ</string>
		</array>
		<array>
			<string>כפ יד</string>
		</array>
		<array>
			<string>עיניימ</string>
		</array>
	</array>
</dict>
</plist>
